/.vs/AmayaSoftTest
/Library
/Logs
/obj/Debug
/Temp
/UserSettings
/.vsconfig
/AmayaSoftTest.sln
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp.csproj
/Assets/Plugins
/Assets/Resources
/Assets/TextMesh Pro
/Assets/TextMesh Pro.meta
/Assets/Resources.meta
/Assets/Plugins.meta
